<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.jony.pojo.Cat"/>
    <bean id="dog1" class="com.jony.pojo.Dog"/>
    <bean id="people" class="com.jony.pojo.People" autowire="byType">
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
        <property name="name" value="JonyChiao"/>
    </bean>
</beans>