<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testController" class="com.imooc.spring.ioc.class08.RequestScopeController" scope="request"/>
    <bean id="sessionScopeController" class="com.imooc.spring.ioc.class08.SessionScopeController" scope="session"/>
    <bean id="applicationScopeController" class="com.imooc.spring.ioc.class08.ApplicationScopeController" scope="application"/>

</beans>